/***Bootstrap***/
@import 'bootstrap/dist/css/bootstrap.css';

/** */
/*@import './base.css';*/
body{
height:100%;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

/***myStyles ***/

a {
  color: #1F7194;

}

a:hover:not(#svg) {
  background-color: #0a1d2435 !important;
  color: white;
}
.violet {
  color: #1F7194;

}

.btn-violet {
  background-color: #1F7194;
  border-color: #1F7194;

}

.logo {
  margin-left: -3rem;
  width: 15rem;
  height: auto;
  position: absolute
}

button:hover {

  background-color: rgb(35, 7, 60) !important;
  color: white;
}

.loginRegisterLink:hover {
  background-color: white !important;
  color: rgb(35, 7, 60);
}


#app {
  width: 100%;
  padding-inline: 0;
}

nav {
  position: fixed;
  display: inline;
  background-color: #1F7194;
  width: 200%;
  height: 5rem;
  font-size: 1.2em;
}

nav a {
  padding-block: 1.6rem;
  padding-inline: 2rem;
  color: white;
}

nav svg {

  display: none;
}

nav #svg {
  display: none;
}

.hide {
  display: inline;
}

.footer {
  width: 100%;
  height: 7rem;
  background-color: #1F7194;
  position: fixed;
  bottom: 0rem;
  z-index: 1;
}

.footer div {


  height: 100% !important;
}

.main {
  width: inherit;
  height: 100rem;
  position: fixed;
  top: 7rem;
  bottom: 20rem;


}

.main form {
  background-color: #1F7194;
  box-shadow: 10px 10px;
  width: 40% !important;
  height: 27%;
  border-radius: 10px;
}
.main form label{
  color:white;
}
.main form button{
  background-color:#113f53;
}
.main form button:hover{
 
  background-color:#08202b !important;
  border-color: white;
}
.main form a{
  color:white;
}
.card{

width:6rem !important;
height:auto !important;
border :none;
}
.documents{

  width:10rem !important;
}
.main .register{

  height:28.5%;
}
#app{

  width:100% !important;
  /*height:200rem !important;*/
}
/***Mobile &Tablette ***/
@media screen and (max-width: 1024px) {
  nav {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 2;

  }

  nav svg {
    display: block !important;
    width: 2rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

  }

  nav #svg {
    display: inline !important;
    width: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  nav #svg:hover {
    color: white;
    background-color: #1F7194;
  }

  #home {
    margin-top: 5rem;
  }

  .footer {
    height: 35%;
  }

  .footer li {

    display: grid;
  }

  .main form {
    width:75% !important;
    height: 18rem;
  }
  .eDocs{
    width:15rem !important;
    height:5rem !important;

  }
 .imgDocs{
  width:10rem !important;
  height:12rem !important;
 }
 .main .register{

  height:.5% !important;
}
}